.border {
    border: 2px solid grey;
    border-radius: 10px;
}
.encart {
    margin: 20px 3px;
}
.encart-border {
    margin: 20px 10px;
    border-radius: 5px;
    border-color: #969696;
    border: 2px solid;
    padding: 5px;
}
.encart-grey-graph {
    padding: 3px 0;
    margin: -10px 0 10px;
    color: #fff;
    font-weight: 700!important;
    background-color: #8099b2;
    font-size: 14px;
}
