<div class="col-xs-offset-3 col-xs-6" style="margin-top:50px">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Connexion</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label>Username:</label>
                <input class="form-control" [(ngModel)]="user.username" placeholder="Username">
            </div>
            <div class="form-group">
                <label>password:</label>
                <input class="form-control" [(ngModel)]="user.password" type="password" placeholder="password">
            </div>
            <div class="form-group">
                <button type="btn btn-primary" (click)="login(user)">login</button>
            </div>
        </div>
        <div class="panel-footer">
            <div class="form-group">
                <a href="/register">Pas encore enregister ?</a>
            </div>
        </div>
    </div>
</div>
