<div class="col-xs-12">
    <div class="text-left">
        <h3>Liste Details: {{list.title}} - {{list.desc}}</h3>
    </div>
    <table class="table table-bordered">
        <tr class="table-header ">
            <td class="text-left col-xs-2"><h4>Titre</h4></td>
            <td class="text-left col-xs-6"><h4>Description</h4></td>
            <td class="text-left col-xs-2">Fichier</td>
            <td class="text-left col-xs-1">Fait ?</td>
            <td class="text-left col-xs-1"></td>
        </tr>
        <tr *ngFor="let todo of todos">
            <td contenteditable='true' (keypress)="updateCell($event, todo)" [ngClass]="{'todo-done': todo.status == true}" class="text-left col-xs-2 todoTitle">{{todo.title}}</td>
            <td contenteditable='true' (keypress)="updateCell($event, todo)" [ngClass]="{'todo-done': todo.status == true}" class="text-left col-xs-6 todoDesc">{{todo.desc}}</td>
            <td class="text-left col-xs-2 todo-done" [ngClass]="{'todo-done': todo.status == true}" >
                <a *ngIf="todo.files?.length" class="btn btn-success" routerLink="/lists/{{todo.idList}}/todo/{{todo._id}}">
                    {{todo.files.length}} fichiers, Ajout/Voir les fichiers
                </a>
                <a *ngIf="!todo.files?.length" class="btn btn-success" routerLink="/lists/{{todo.idList}}/todo/{{todo._id}}">
                    Pas des fichier, Ajouter
                </a>
            </td>
            <td class="text-center col-xs-1" [ngClass]="{'todo-done': todo.status == true}" ><input type="checkbox" [checked]="todo.status" (change)="updateCheckBox(todo)" ></td>
            <td class="text-center col-xs-1" [ngClass]="{'todo-done': todo.status == true}" ><button class="btn btn-danger" title="delete" (click)="delete(todo)">Supprimer</button></td>
        </tr>
    </table>
    <div>
        <legend>Ajouter d'une tâche</legend>
        <div class="form-group">
            <label>Titre Todo: </label>
            <input class="form-control" [(ngModel)]="todo.title" placeholder="title"/>
        </div>
        <div class="form-group">
            <label>Description Todo:</label>
            <textarea class="form-control" [(ngModel)]="todo.desc" rows="5" cols="50"></textarea>
        </div>
        <button class="btn btn-primary" (click)="add(todo)" name="button">Ajouter</button>
    </div>
</div>
