<div class="col-xs-12">
    <div class="text-left">
        <h3>Liste des cours details: {{listCourses.title}} - {{listCourses.desc}}</h3>
    </div>
    <table class="table table-bordered">
        <tr class="table-header ">
            <td class="text-left col-xs-2"><h4>Titre</h4></td>
            <td class="text-left col-xs-6"><h4>Description</h4></td>
            <td class="text-left col-xs-3">Fichier</td>
            <td class="text-left col-xs-1"></td>
        </tr>
        <tr *ngFor="let course of courses">
            <td contenteditable='true' (keypress)="updateCell($event, course)" class="text-left col-xs-2 courseTitle">{{course.title}}</td>
            <td contenteditable='true' (keypress)="updateCell($event, course)" class="text-left col-xs-6 courseDesc">{{course.desc}}</td>
            <td class="text-left col-xs-3 todo-done" >
                <a *ngIf="course.files?.length" class="btn btn-success" routerLink="/listscourses/{{course.idListCourses}}/course/{{course._id}}">
                    {{course.files.length}} fichiers, Voir les fichiers
                </a>
                <a *ngIf="!course.files?.length" class="btn btn-success" routerLink="/listscourses/{{course.idListCourses}}/course/{{course._id}}">
                    {{course.files.length}} fichier, Ajouter
                </a>
            </td>
            <td class="text-center col-xs-1" ><button class="btn btn-danger" title="delete" (click)="deleteCourse(course)">Supprimer</button></td>
        </tr>
    </table>
    <div class="">
        <button type="button" name="button" (click)="prevPage()">Previous</button>
            <input type="text" [(ngModel)]="nbPage"> / {{nbTotal}}
        <button type="button" name="button" (click)="nextPage()">Next</button>

    </div>
    <div>
        <legend>Ajouter d'une tâche</legend>
        <div class="form-group">
            <label>Titre du cours: </label>
            <input class="form-control" [(ngModel)]="courseInp.title" placeholder="title"/>
        </div>
        <div class="form-group">
            <label>Description du cours:</label>
            <textarea class="form-control" [(ngModel)]="courseInp.desc" rows="5" cols="50"></textarea>
        </div>
        <button class="btn btn-primary" (click)="add(courseInp)" name="button">Ajouter</button>
    </div>
</div>
